{
  "root": true,
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "requireConfigFile": false
  },
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": 0
  },
  "overrides": [
    {
      "files": ["Brocfile.js", "testem.js"],
      "parserOptions": {
        "sourceType": "script"
      }
    }
  ]
}
